<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Info Transaksi</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Transaksi</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Waktu Transaksi</th>
                  <th>Jenis Transaksi</th>
                  <th>Detail Transaksi</th>
                  <th>Email Pelanggan</th>
                  <th>Jumlah</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < datas.length; i++) { %>
                <tr>
                  <td><%=datas[i].tanggal%> : <%=datas[i].waktu%></td>
                  <td><%=datas[i].ch_pembayaran%></td>
                  <td>
                    <a href="/transaksi/<%=datas[i].orderID%>">[details]</a>
                  </td>
                  <td><%=datas[i].emailPelanggan%></td>
                  <td><%=datas[i].total_pembayaran%></td>
                  <td><%=datas[i].status%></td>
                </tr>
                <% } %>
              </tbody>
              <tfoot>
                <tr>
                  <th>Waktu Transaksi</th>
                  <th>Jenis Transaksi</th>
                  <th>Detail Transaksi</th>
                  <th>Email Pelanggan</th>
                  <th>Jumlah</th>
                  <th>Status</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- page script -->
